@layer colors {
  :root {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-grey-500: hsl(219 13% 44%);
    --c-grey-50: hsl(220 38% 97%);
    --c-blue-950: hsl(214 24% 23%);
    --c-blue-900: hsl(216 25% 25%);
    --c-blue-850: hsl(215 27% 32%);
    --c-blue-500: hsl(223 100% 59%);
    --c-blue-300: hsl(216 47% 78%);
    --c-blue-100: hsl(220 50% 95%);
    --c-green-500: hsl(151 68% 52%);
    --c-green-100: hsl(151 88% 94%);
    --c-purple-600: hsl(277 91% 56%);
    --c-purple-100: hsl(246 1005 95%);
    --c-orange-400: hsl(22 100% 60%);
    --c-orange-50: hsl(27 100% 96%);
    --c-red-500: hsl(0 82% 63%);
  }
}

/* Later clamp toevoegen voor font-size */
@layer font-styles {
  :root {
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
  }
}

@layer spacing {
  :root {
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1600: 8rem;
    --spacing-1800: 9rem;
    --spacing-2300: 11.5rem;
  }
}

/* Text Presets */
.text-preset-1-medium {
  /* font-size: 9rem/5.5rem; */
  font-size: clamp(5.5rem, 2.1603rem + 14.2494vw, 9rem);
  font-weight: var(--fw-medium);
  font-style: normal;
}
.text-preset-2-medium {
  /* font-size: 4rem/2.5rem; */
  font-size: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
  font-weight: var(--fw-medium);
  font-style: normal;
}
.text-preset-2-light {
  /* font-size: 4rem/2.5rem; */
  font-size: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
  font-weight: var(--fw-light);
  font-style: normal;
}
.text-preset-3-medium {
  /* font-size: 2.25rem/1.25rem; */
  font-size: clamp(1.25rem, 0.2958rem + 4.0712vw, 2.25rem);
  font-weight: var(--fw-medium);
  font-style: normal;
  line-height: 1.2;
}
.text-preset-4-medium {
  /* font-size: 1.75rem/1.125rem; */
  font-size: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);
  font-weight: var(--fw-medium);
  font-style: normal;
}
.text-preset-5-regular {
  font-size: 1.5rem;
  font-weight: var(--fw-regular);
  font-style: normal;
  line-height: 1.5;
}
.text-preset-6-italic {
  /* font-size: 1.25rem/0.875rem; */
  font-size: clamp(1.25rem, 1.6078rem + -1.5267vw, 0.875rem);
  font-weight: var(--fw-regular);
  font-style: italic;
  line-height: 1.5;
}

.hidden {
  display: none;
}