@layer global {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    display: block;
  }

  button {
    font-family: inherit;
  }
}

@layer colors {
  :root {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-grey-500: hsl(219 13% 44%);
    --c-grey-50: hsl(220 38% 97%);
    --c-blue-950: hsl(214 24% 23%);
    --c-blue-900: hsl(216 25% 25%);
    --c-blue-850: hsl(215 27% 32%);
    --c-blue-500: hsl(223 100% 59%);
    --c-blue-300: hsl(216 47% 78%);
    --c-blue-100: hsl(220 50% 95%);
    --c-blue-50: hsl(225 100% 96%);
    --c-green-500: hsl(151 68% 52%);
    --c-green-100: hsl(151 88% 94%);
    --c-purple-600: hsl(277 91% 56%);
    --c-purple-100: hsl(246 100% 95%);
    --c-orange-400: hsl(22 100% 60%);
    --c-orange-50: hsl(27 100% 96%);
    --c-red-500: hsl(0 82% 63%);
  }
}

/* Later clamp toevoegen voor font-size */
@layer font-styles {
  :root {
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
  }
}

@layer spacing {
  :root {
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1600: 8rem;
    --spacing-1800: 9rem;
    --spacing-2300: 11.5rem;
  }
}

/* Text Presets */
.text-preset-1-medium {
  /* font-size: 9rem/5.5rem; */
  font-size: clamp(5.5rem, 2.1603rem + 14.2494vw, 9rem);
  font-weight: var(--fw-medium);
  font-style: normal;
}
.text-preset-2-medium {
  /* font-size: 4rem/2.5rem; */
  font-size: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
  font-weight: var(--fw-medium);
  font-style: normal;
}
.text-preset-2-light {
  /* font-size: 4rem/2.5rem; */
  font-size: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
  font-weight: var(--fw-light);
  font-style: normal;
}
.text-preset-3-medium {
  /* font-size: 2.25rem/1.25rem; */
  font-size: clamp(1.25rem, 0.2958rem + 4.0712vw, 2.25rem);
  font-weight: var(--fw-medium);
  font-style: normal;
  line-height: 1.2;
}
.text-preset-4-medium {
  /* font-size: 1.75rem/1.125rem; */
  font-size: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);
  font-weight: var(--fw-medium);
  font-style: normal;
}
.text-preset-5-regular {
  font-size: 1.5rem;
  font-weight: var(--fw-regular);
  font-style: normal;
  line-height: 1.5;
}
.text-preset-6-italic {
  /* font-size: 1.25rem/0.875rem; */
  font-size: clamp(0.875rem, 0.5172rem + 1.5267vw, 1.25rem);
  font-weight: var(--fw-regular);
  font-style: italic;
  line-height: 1.5;
}

/* Main styles */
body {
  font-family: "Rubik", sans-serif;
  background-color: var(--c-grey-50);
  min-height: 100vh;
  background-image: url("./assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;

  @media (min-width: 48rem) {
    background-image: url("./assets/images/pattern-background-tablet-light.svg");
  }

  @media (min-width: 62rem) {
    background-image: url("./assets/images/pattern-background-desktop-light.svg");
    background-size: cover;
    /* padding-block-start: var(--spacing-600); */
    padding-inline: var(--spacing-400);
  }
}

/* Header */
.header {
  padding-block: var(--spacing-200);
  padding-inline: var(--spacing-300);
  display: flex;

  @media (min-width: 48rem) {
    max-width: 44rem;
    margin-inline: auto;
    padding-block-start: var(--spacing-600);
  }

  @media (min-width: 62rem) {
    padding-block-end: var(--spacing-400);
  }
}

header.wrapper {
  @media (min-width: 62rem) {
    max-width: 72rem;
    padding-inline: 0;
  }
}

/* Qustion subject */
.header-subject {
  display: flex;
  gap: var(--spacing-200);
  align-items: center;
}

/* Toggle Light/Dark section */
.toggle-mode-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  margin-inline-start: auto;

  @media (min-width: 48rem) {
    gap: var(--spacing-200);
  }
}

.toggle-mode-icon {
  width: 1rem;
  height: 1rem;

  @media (min-width: 48rem) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.toggle-label {
  display: block;
  width: 2rem;
  height: 1.25rem;
  background-color: var(--c-purple-600);
  border-radius: 0.75rem;
  cursor: pointer;
  position: relative;

  @media (min-width: 48rem) {
    width: 3rem;
    height: 1.875rem;
    border-radius: 1.125rem;
  }
}

.toggle-ball {
  width: 0.75rem;
  height: 0.75rem;
  position:absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0.25rem;
  background-color: var(--c-white);
  transition: transform 250ms;

  @media (min-width: 48rem) {
    width: 1.25rem;
    height: 1.25rem;
    left: 0.375rem;
  }
}

#toggle-switch {
  display: none;
}

#toggle-switch:checked + .toggle-label .toggle-ball {
  transform: translateX(0.75rem) translateY(-50%);

  @media (min-width: 48rem) {
    transform: translateX(1rem) translateY(-50%);
  }
}

/* Main section text-container */
main.wrapper {
  padding-inline: var(--spacing-300);
  padding-block-start: var(--spacing-400);

  @media (min-width: 48rem) {
    max-width: 72rem;
    margin: 0 auto;
    padding-inline: var(--spacing-800);
  }

  @media (min-width: 62rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block-start: var(--spacing-400);
    padding-inline: 0;
  }
}

.text-container {
  margin-block-end: var(--spacing-500);

  @media (min-width: 48rem) {
    margin-block-end: var(--spacing-800);
  }
}

.text-container h1 {
  margin-block-end: var(--spacing-200);
  color: var(--c-blue-900);

  @media (min-width: 62rem) {
    margin-block-end: var(--spacing-600);
  }
}

.text-container.text-preset-2-medium {
  display: inline-block;
  margin-block-start: var(--spacing-100);
}

.subtext {
  color: var(--c-grey-500);
}

/* Question container */
.question-container {
  @media (min-width: 62rem) {
    padding-inline-end: var(--spacing-1600);
  }
}
.question-container .subtext {
  padding-block-end: var(--spacing-200);

  @media (min-width: 62rem) {
    padding-block-end: var(--spacing-300);
  }
}

/* Question */
.question-container .text-preset-3-medium {
  padding-block-end: var(--spacing-300);

  @media (min-width: 62rem) {
    padding-block-end: var(--spacing-2300);
  }
}

/* Progress bar */
.progress-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
  background-color: var(--c-white);
  border-radius: 0.5rem;
  padding: 0.25rem;

  @media (min-width: 62rem) {
    margin-block-start: var(--spacing-400);
  }
}

.progress-inner {
  width: 50%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--c-purple-600);
}


/* Main section options container */
.options-container {
  @media (min-width: 48rem) {
    max-width: 29.0625rem;
  }

  @media (min-width: 62rem) {
    max-width: 100%;
  }
}

.options-container > div,
.answers-container > div {
  display: grid;
  gap: var(--spacing-200);

  @media (min-width: 48rem) {
    gap: var(--spacing-300);
  }
}

.option {
  padding: var(--spacing-200);
  background-color: var(--c-white);
  border-radius: 0.75rem;
  cursor: pointer;
  border: 3px solid transparent;
  box-shadow: 0px 16px 40px 0px hsla(220, 29%, 66%,0.1);
  transition: transform 250ms ease, border-color 250ms ease;

  @media (min-width: 48rem) {
    border-radius: 1.5rem;
  }

  @media (min-width: 62rem) {
    padding: var(--spacing-300);
  }
}

/* Hover states */
.options-container .option:hover {
  transform: scale(0.975);
}
.options-container .option:active {
  transform: scale(0.95);
}

.option:hover .option-letter {
  background-color: var(--c-purple-600);
  color: var(--c-white);
}

.option > div {
  display: flex;
  gap: var(--spacing-200);
  align-items: center;
}

.option-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.375rem;
  border-radius: 0.375rem;

  @media (min-width: 48rem) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.75rem;
  }
}

.option-icon-1 {
  background-color: var(--c-orange-50);
}

.option-icon-2 {
  background-color: var(--c-green-100);
}

.option-icon-3 {
  background-color: var(--c-blue-50);
}

.option-icon-4 {
  background-color: var(--c-purple-100);
}

/* Answers container */
.answer-icon {
  margin-inline-start: auto;
}

.option-letter {
  color: var(--c-grey-500);
  background-color: var(--c-grey-50);
  transition: background-color 250ms ease;
}

.answer {
  color: var(--c-blue-900);
}

.btn {
  display: block;
  cursor: pointer;
  border: 0;
  padding: var(--spacing-200);
  color: var(--c-white);
  background-color: var(--c-purple-600);
  border-radius: 0.75rem;
  box-shadow: 0px 16px 40px 0px hsla(220, 29%, 66%,0.1);
  transition: transform 250ms;

  @media (min-width: 48rem) {
    padding: var(--spacing-400);
    border-radius: 1.5rem;
  }
}

/* Hover states */
.answers-container .option:hover {
  border: 3px solid var(--c-purple-600);
}

.answers-container .option:active {
  transform: scale(0.975);
}

.btn:hover {
  transform: scale(0.975);
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:disabled:hover {
  transform: none;
}

/* Error message */
.error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);
  color: var(--c-red-500);
  
  p {
    font-size: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.5rem);
    font-weight: var(--fw-regular);
  }
}

/* Correct & false answers */
.answers-container .option.correct {
  border-color: var(--c-green-500);

  .option-letter {
    background-color: var(--c-green-500);
    color: var(--c-white);
  }
}

.answers-container .option.false {
  border-color: var(--c-red-500);

  .option-letter {
    background-color: var(--c-red-500);
    color: var(--c-white);
  }
}




.hidden {
  display: none;
}

/* Doorgaan met score board */