@layer colors {
  :root {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-grey-500: hsl(219 13% 44%);
    --c-grey-50: hsl(220 38% 97%);
    --c-blue-950: hsl(214 24% 23%);
    --c-blue-900: hsl(216 25% 25%);
    --c-blue-850: hsl(215 27% 32%);
    --c-blue-500: hsl(223 100% 59%);
    --c-blue-300: hsl(216 47% 78%);
    --c-blue-100: hsl(220 50% 95%);
    --c-green-500: hsl(151 68% 52%);
    --c-green-100: hsl(151 88% 94%);
    --c-purple-600: hsl(277 91% 56%);
    --c-purple-100: hsl(246 1005 95%);
    --c-orange-400: hsl(22 100% 60%);
    --c-orange-50: hsl(27 100% 96%);
    --c-red-500: hsl(0 82% 63%);
  }
}

@layer spacing {
  :root {
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1600: 8rem;
    --spacing-1800: 9rem;
    --spacing-2300: 11.5rem;
  }
}

.hidden {
  display: none;
}